# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.hackerank.iml
# Datasource local storage ignored files
/../../../../../../:\Project\hackerank\.idea\.idea.hackerank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
